/* Formatação do menu superior*/
nav#topo ul {
    top: 10px;
    left: 100px;
}
nav#topo li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: rgb(3, 7, 29);


}
body {
    background-color: black;
    color: white;
    
}
section {
    color: blanchedalmond;
    text-align: center;
    font-style: italic
}
div#destaque {
    color: black;
    background-color: white;
    margin: auto;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px rosybrown;
    
}
div#corpo {
    width: 450px;
    margin: 20px auto 0 auto;
}
div#corpo h1 {
    text-align: center;
}
footer {
    color: white;
    font-style: italic;
    text-align:center;
}
h2 {
    font-style: italic;
    font-size: 15pt;
    color: white;
}
a {
    color: aqua;
}
/* Formatação do menu inferior*/

nav#topo ul{
    list-style: none;
    text-transform: uppercase;
}
nav#topo li {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    transition: background-color 1s;
}
nav#topo li:houver {
    background-color: violet;
}
nav#topo a {
    text-decoration: none;
}
nav#topo a:hover {
    text-decoration: underline;
    color: white;

}
.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}