body {
    background-color: black;
    color: white;
    
}
section {
    color: blanchedalmond;
    text-align: center;
    font-style: italic
}
footer {
    color: white;
    font-style: italic;
    text-align:center;
}