@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans+Condensed:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
yy
@media only screen and (max-width: 1000px) {
    #mobile-hide{ display: none !important;  }
}
@media only screen and (max-width: 1000px) {
    #mobile{ display: inline none !important;}
}
@media only screen and (min-width: 1001px) {
    #desktop-hide { display: none !important;}
}
body {
    background-color: black;
    color: blanchedalmond; 
    font-family: 'Open Sans Condensed', sans-serif;  
}
section {
    color: blanchedalmond;
    font-style: italic

}
section h3{
    text-align: center;
}
section p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
div#destaque {
    color: black;
    background-color: white;
    margin: auto;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px rosybrown;  
}
div#pc h1{
    font-size: 24pt;
}
/* Formatação do menu superior*/
div#mobile ul {
    top: 10px;
    left: 50px;
}
div#mobile li {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    background-color: rgb(3, 7, 29);
}
div#corpo-mobile {
    width: 300px;
    margin: 20px auto 0 auto;
}

/* pc */
div#mobile-hide li {
    display: inline-block;
    padding: 20px;
    margin: 4px;
    background-color: rgb(3, 7, 29);
    font-size: 16pt;
}
.corpo-pc {
    width: 500px;
    margin: 30px auto 0 auto;
}
/*foter{
    text-align: center;
    font-style: italic;
    text-align:center;
    position: absolute;}*/

.footer-txt{
    text-align: center;
    font-style: italic;
}
.footer-exec {
    text-align: center;
    font-style: italic;
    text-align:center;
    margin-left: 400px;
}
#texto-curto-pc footer p {
    text-align: center;
    font-style: italic;
    text-align:center;
    color:blanchedalmond
}
#desktop-hide {
    font-size: 16t;
    margin: 50px auto 0 auto;    
}
#desktop-hide h2 {
    font-size: 12pt;
}
#mobilehide h2 {
    font-size: 16pt;
}

a {
    color: aqua;
    text-decoration: none;
}
/* Formatação do menu inferior*/
.desktop{
    width:1000px;
    margin-left: -400px;
    font-size: 16pt;
}
#pc {
    margin-bottom: 100px;
    margin-left: 170px;
    margin-right: 130px;
    height: 300px;
}
#pc p {
    font-size: 20pt;
    text-align: left;
    
}
h2 {
    text-align: center;
    color:blanchedalmond

}
h1 {
    text-align: center;
    color:blanchedalmond

}
.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

#texto-curto-pc {
    width: 500px;
    margin: 30px auto 0 auto;
    font-size: 16pt;
    padding: 70px;   
}
#texto-curto-mobile {
    margin-left: 10px;
    font-size: 12pt;
}
#logo-pequeno {
    width: 350px;
    height: 320px;
}
.alternative{
    height: 350px;
}
.alternative2{
    margin-left: 350px;
    height: 300px;
}

/*Formatação de artigos*/

.center-img-mobile {
    margin-left: 30px;
}
.center-img-pc {
    margin-left: 20px;
    height:250px;
    margin-left: 500px;
}
.center-img-pc-artigo {
    height: 450px;
    margin-left: 100px;
}
.logo-artigo{
    margin-left: -100px;
}
.center-img-pc-artigo-grande{
    margin-left: 25px;
}