body {
    background-color: black;
    color: white;
    
}
section {
    color: blanchedalmond;
    text-align: center;
    font-style: italic;
    color: white;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
footer {
    color: white;
    font-style: italic;
    text-align:center;
    font-weight: 900;
}
p {
    text-align: justify;
}
