body {
    background-color: black;
    color: white;
    
}
section {
    color: blanchedalmond;
    text-align: left;
    font-style: italic
    color: white;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
footer {
    color: white;
    font-style: italic;
    text-align:center;
}
